{% extends 'layout.html' %}

{% block main_page %}

<div class="wrapper">
    <div class="empty_block"></div>
    <div class="info">
        <div class="description">
            <p class="names">Вселенная Naruto - База знаний</p>
        <div class="desc">
            <ul class="checkmark">
                <li><a href="{{ url_for('main.characters_page') }}">Персонажи</a></li>
                <li><a href="{{ url_for('main.villages_page') }}">Деревни</a></li>
                <li><a href="{{ url_for('main.technology_page') }}">Техники</a></li>
                <li><a href="{{ url_for('main.guns_page') }}">Оружие и экипировка</a></li>
                <li><a href="{{ url_for('main.hronology_page') }}">Хронология</a></li>
            </ul>
                </div>
            </div>
        </div>
                    <div class="empty_block"></div>
                    <div class="empty_block"></div>
                    <div class="empty_block"></div>

</div>
{% endblock main_page %}
