{% extends 'layout.html' %}

{% block content %}
<center>
<div class="post">
<img width="50" height="50" src="{{ url_for('static', filename='profile_pics/' + post.author.username + '/account_image/' + '/' + post.author.image_file) }}"
        alt="" class="mr-3 mt-3 rounded-circle" style="...">

<a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
<small class="text-muted">{{ post.date_posted.strftime('%d.%m.%Y-%H.%M') }}</small>

<h2 class="article-title">{{ post.title }}</h2>
<p class="article-content">{{ post.content }}</p>
<img src="{{ image_file }}" alt="post_img">
</div>
</center>




{% endblock %}

